/**
 * @file
 * Sidebars Styling
 *
 */

@import "base";

/* MAIN NODE SIDEBARS */
.sidebar {
  h2, h3{
    margin: .5em 0;
  }
  h4, h5, p {
    margin: .2em 0;
  }
  h2 {
    font-size: 1.35em;
  }
  .block {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
    ul {
      margin: 1em 0;
      padding: 0 0 0 20px;
    }
  }
}

/* PANEL SIDEBARS */
.panel-flexible .sidebar {

}
