/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.cm-row {
  .column {
    .views-row {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}

#content {
  .views-row {
    h2 {
      margin: 0 0 10px 0;
    }
    .field-name-field-image {
      float: left;
      max-width: 25%;
      margin: 5px 25px 0 0;
      @include breakpoint ($breakpoint-small-width) {
        width: 100%;
        clear: both;
        max-width: 100%;
        margin: 0 0 10px 0;
      }
    }
    .field-title {

    }
    .field-name-body {
      padding-right: 20px;
      @include breakpoint ($breakpoint-medium-width) {
      }
    }
  }
  &.teaser {
    margin: 10px 0;
    padding: 2px 0 20px 0;
    border-bottom: 1px solid #EEEEEE;
  }
  &.full {
    .field-name-field-image {
      float: left;
      max-width: 100%;
      width: 100%;
      margin: 0 0 20px 0;
      @include breakpoint ($breakpoint-small-width) {
        width: 100%;
        clear: both;
        max-width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
  &.max-320, .max-320 {
    .field-name-field-image {
      max-width: 100%;
      width: 100%;
    }
  }
}
