/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-instagram, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-scb3fe6f241.png') no-repeat;
}

.social-facebook {
  background-position: 0 -312px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -288px;
}

.social-instagram {
  background-position: 0 -24px;
}
.social-instagram:hover, .social-instagram.instagram_hover, .social-instagram.instagram-hover {
  background-position: 0 0;
}

.social-linkedin {
  background-position: 0 -216px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -192px;
}

.social-rss {
  background-position: 0 -72px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 -48px;
}

.social-twitter {
  background-position: 0 -144px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -120px;
}

.social-vimeo {
  background-position: 0 -168px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -96px;
}

.social-youtube {
  background-position: 0 -240px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -264px;
}

.channel-icons-sprite, .channel-icons-ch1, .channel-icons-ch2, .channel-icons-ch3, .channel-icons-ch4 {
  background: url('../images/channel-icons-s9c93aa75ec.png') no-repeat;
}

.channel-icons-ch1 {
  background-position: 0 -90px;
}

.channel-icons-ch2 {
  background-position: 0 -30px;
}

.channel-icons-ch3 {
  background-position: 0 0;
}

.channel-icons-ch4 {
  background-position: 0 -60px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#logo {
  /* Wrapping link for logo */
  float: left;
  /* LTR */
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
}

#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
#content .cm-row {
  float: left;
}
#content .cm-row .inside h2 {
  margin: 0 0 10px 0;
}
#content .cm-row.teaser {
  padding: 2px 0 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
#content .cm-row.teaser .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.40167%;
  margin-left: 0%;
  margin-right: 3%;
}
#content .cm-row.teaser .media:before, #content .cm-row.teaser .media:after {
  content: '';
  display: table;
}
#content .cm-row.teaser .media:after {
  clear: both;
}
#content .cm-row.teaser .media:last-child {
  margin-right: 0%;
}
#content .cm-row.teaser .media img {
  width: 100%;
  height: auto;
}
@media (max-width: 520px) {
  #content .cm-row.teaser .media {
    width: 100%;
    clear: both;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 400px) {
  #content .cm-row.teaser .media img {
    display: none;
    visibility: hidden;
    height: 0;
  }
}
#content .cm-row.teaser .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 57.59833%;
  margin-left: 0%;
  margin-right: 3%;
}
#content .cm-row.teaser .wrapper:before, #content .cm-row.teaser .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.teaser .wrapper:after {
  clear: both;
}
#content .cm-row.teaser .wrapper:last-child {
  margin-right: 0%;
}
@media (max-width: 520px) {
  #content .cm-row.teaser .wrapper {
    width: 100%;
  }
}
#content .cm-row.teaser .inside {
  margin: 0;
}
#content .cm-row.max-340 .media, #content .cm-row .max-340 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-340 .media:before, #content .cm-row.max-340 .media:after, #content .cm-row .max-340 .media:before, #content .cm-row .max-340 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-340 .media:after, #content .cm-row .max-340 .media:after {
  clear: both;
}
#content .cm-row.max-340 .media:last-child, #content .cm-row .max-340 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-340 .media:first-child, #content .cm-row .max-340 .media:first-child {
  margin-left: auto;
}
#content .cm-row.max-340 .media:last-child, #content .cm-row .max-340 .media:last-child {
  margin-right: auto;
}
#content .cm-row.max-340 .wrapper, #content .cm-row .max-340 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-340 .wrapper:before, #content .cm-row.max-340 .wrapper:after, #content .cm-row .max-340 .wrapper:before, #content .cm-row .max-340 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-340 .wrapper:after, #content .cm-row .max-340 .wrapper:after {
  clear: both;
}
#content .cm-row.max-340 .wrapper:last-child, #content .cm-row .max-340 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-340 .wrapper:first-child, #content .cm-row .max-340 .wrapper:first-child {
  margin-left: auto;
}
#content .cm-row.max-340 .wrapper:last-child, #content .cm-row .max-340 .wrapper:last-child {
  margin-right: auto;
}
#content .cm-row.max-680 .max-340.max-680 .media, #content .cm-row.max-340 .max-340.max-680 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 31.33333%;
  margin-left: 0%;
  margin-right: 3%;
  margin-bottom: 0;
}
#content .cm-row.max-680 .max-340.max-680 .media:before, #content .cm-row.max-680 .max-340.max-680 .media:after, #content .cm-row.max-340 .max-340.max-680 .media:before, #content .cm-row.max-340 .max-340.max-680 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-680 .max-340.max-680 .media:after, #content .cm-row.max-340 .max-340.max-680 .media:after {
  clear: both;
}
#content .cm-row.max-680 .max-340.max-680 .media:last-child, #content .cm-row.max-340 .max-340.max-680 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper, #content .cm-row.max-340 .max-340.max-680 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.66667%;
  margin-left: 0%;
  margin-right: 3%;
  margin: 0;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:before, #content .cm-row.max-680 .max-340.max-680 .wrapper:after, #content .cm-row.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-340 .max-340.max-680 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:after, #content .cm-row.max-340 .max-340.max-680 .wrapper:after {
  clear: both;
}
#content .cm-row.max-680 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media, #content .cm-row.max-340.max-340 .max-340.max-680 .media {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:before, #content .cm-row.max-680.max-340 .max-340.max-680 .media:after, #content .cm-row.max-340.max-340 .max-340.max-680 .media:before, #content .cm-row.max-340.max-340 .max-340.max-680 .media:after {
  content: '';
  display: table;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:after, #content .cm-row.max-340.max-340 .max-340.max-680 .media:after {
  clear: both;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:first-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:first-child {
  margin-left: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .media:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .media:last-child {
  margin-right: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:after, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:before, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:after {
  content: '';
  display: table;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:after, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:after {
  clear: both;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: 0%;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:first-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:first-child {
  margin-left: auto;
}
#content .cm-row.max-680.max-340 .max-340.max-680 .wrapper:last-child, #content .cm-row.max-340.max-340 .max-340.max-680 .wrapper:last-child {
  margin-right: auto;
}
@media (max-width: 460px) {
  #content .cm-row .column {
    clear: both;
    width: 100%;
    margin: 0;
  }
  #content .cm-row .column .inside {
    margin: 0;
  }
}
@media (max-width: 768px) {
  #content .cm-row .column .inside {
    margin: 0;
  }
}
#content .cm-row .wrapper .field-name-title h2 {
  margin-bottom: 2px;
}
#content .cm-row .wrapper .field-name-post-date {
  font-size: 13px;
  color: #aaa;
}
#content .cm-row .wrapper .field-name-body {
  color: #555;
  margin-top: 10px;
}
#content.max-680 .column {
  clear: both;
  width: 100%;
  margin: 0;
}
#content.max-680 .column .inside {
  margin: 0;
}
#content.max-680 .column.max-680 {
  width: 100%;
  max-width: 100%;
  float: none;
}
#content .view-mode-full .field-name-field-image {
  margin: 20px 0;
}
#content .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 32.0%;
  margin-left: 0%;
  margin-right: 2%;
}
#content .cm-col.grid-item:before, #content .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content .cm-col.grid-item:after {
  clear: both;
}
#content .cm-col.grid-item:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
#content .cm-col.grid-item:nth-child(3n + 1) {
  clear: both;
}
#content.max-680 .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 49%;
  margin-left: 0%;
  margin-right: 2%;
}
#content.max-680 .cm-col.grid-item:before, #content.max-680 .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content.max-680 .cm-col.grid-item:after {
  clear: both;
}
#content.max-680 .cm-col.grid-item:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#content.max-680 .cm-col.grid-item:nth-child(2n + 1) {
  clear: both;
}
#content.max-340 .cm-col.grid-item {
  border: 0;
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-340 .cm-col.grid-item:before, #content.max-340 .cm-col.grid-item:after {
  content: '';
  display: table;
}
#content.max-340 .cm-col.grid-item:after {
  clear: both;
}
#content.max-340 .cm-col.grid-item:last-child {
  margin-right: 0%;
}
#content.max-340 .cm-col.grid-item:first-child {
  margin-left: auto;
}
#content.max-340 .cm-col.grid-item:last-child {
  margin-right: auto;
}

.page-schedule #schedule {
  float: none;
}
.page-schedule #schedule p {
  margin: 0;
}
.page-schedule #schedule a.prev, .page-schedule #schedule a.next {
  margin: 5px;
  text-align: center;
}
.page-schedule #schedule a.prev span, .page-schedule #schedule a.next span {
  height: auto;
}

#content .term-listing-heading .field-name-field-channel-embed {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 67.4%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:before, #content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  content: '';
  display: table;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: 0%;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 32.6%;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:before, #content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  content: '';
  display: table;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  clear: both;
}
#content .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: 0%;
}
#content .term-listing-heading .field-name-field-channel-logo {
  clear: both;
  padding-top: 20px;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:before, #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  content: '';
  display: table;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:after {
  clear: both;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: 0%;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:first-child {
  margin-left: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .video:last-child {
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-left: 0%;
  margin-right: 3%;
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:before, #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  content: '';
  display: table;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:after {
  clear: both;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: 0%;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:first-child {
  margin-left: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat:last-child {
  margin-right: auto;
}
#content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
  padding-top: 55% !important;
}
@media (max-width: 520px) {
  #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
    padding-top: 65% !important;
  }
}
@media (max-width: 400px) {
  #content.max-680 .term-listing-heading .field-name-field-channel-embed .channel-embeds .chat .fluid-width-video-wrapper {
    padding-top: 95% !important;
  }
}

.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

h1.title {
  margin-bottom: 10px;
}

tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* Schedule table */
#content .table-responsive.ng-scope .schedule-controls {
  clear: both;
  margin: 10px 0;
  float: left;
  width: 100%;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-2 {
  padding: 0;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-8 {
  position: relative;
}
#content .table-responsive.ng-scope .schedule-controls .col-xs-8 .icon {
  background: url(../images/cal.png) no-repeat center center;
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 2px;
  left: 20px;
}
#content .table-responsive.ng-scope .table {
  clear: both;
  margin: 0;
}
#content .table-responsive.ng-scope .table thead th {
  color: #B9DE0F;
  background: #f5f5f5;
  border-bottom-width: 1px;
}
#content .table-responsive.ng-scope .table tbody td h5 {
  margin: 0;
}
#content .table-responsive.ng-scope .table tbody td.time {
  font-size: 12px;
  background: #f8f8f8;
}
#content .table-responsive.ng-scope .table tbody td p.sc, #content .table-responsive.ng-scope .table tbody td p.empty {
  font-size: 14px;
}
#content .table-responsive.ng-scope .table tbody td.ng-scope {
  cursor: help;
}

/* Channel pages */
.term-listing-heading .cm-row {
  margin: 0;
}
.term-listing-heading .field-name-field-channel-logo {
  float: left;
}
.term-listing-heading .taxonomy-term-description {
  float: left;
  padding: 20px;
  font-family: 'Roboto Condensed',sans-serif;
  color: #000;
}
.term-listing-heading .field-name-field-channel-where-to-watch {
  clear: both;
  margin: 20px 0;
  padding: 15px 20px 20px 20px;
  background: #f9f9f9;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-label {
  clear: both;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items {
  clear: both;
  width: 100%;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items table {
  margin: 0;
  width: 100%;
}
.term-listing-heading .field-name-field-channel-where-to-watch .field-items table td {
  float: left;
}
