/**
 * @file
 * RTL companion for the tabs.css file.
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~SPRITES
***********/
.social-sprite, .social-facebook, .social-linkedin, .social-rss, .social-twitter, .social-vimeo, .social-youtube {
  background: url('../images/social-s9392f6df42.png') no-repeat;
}

.social-facebook {
  background-position: 0 -240px;
}
.social-facebook:hover, .social-facebook.facebook_hover, .social-facebook.facebook-hover {
  background-position: 0 -264px;
}

.social-linkedin {
  background-position: 0 -144px;
}
.social-linkedin:hover, .social-linkedin.linkedin_hover, .social-linkedin.linkedin-hover {
  background-position: 0 -168px;
}

.social-rss {
  background-position: 0 -24px;
}
.social-rss:hover, .social-rss.rss_hover, .social-rss.rss-hover {
  background-position: 0 0;
}

.social-twitter {
  background-position: 0 -120px;
}
.social-twitter:hover, .social-twitter.twitter_hover, .social-twitter.twitter-hover {
  background-position: 0 -72px;
}

.social-vimeo {
  background-position: 0 -96px;
}
.social-vimeo:hover, .social-vimeo.vimeo_hover, .social-vimeo.vimeo-hover {
  background-position: 0 -48px;
}

.social-youtube {
  background-position: 0 -216px;
}
.social-youtube:hover, .social-youtube.youtube_hover, .social-youtube.youtube-hover {
  background-position: 0 -192px;
}

/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
ul.primary li,
ul.secondary li {
  float: right;
}

ul.primary li {
  margin: 0.5em 3px 0 0;
}
