/**
 * @file
 *
 * CM-specific  Styling
 *
 *
 */
/***********
~IMPORTS
***********/
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/***********
~GENERIC
***********/
body {
  color: #555555;
}
body a {
  color: #61aee2;
  text-decoration: none;
}
body a:hover {
  color: #443C45;
  text-decoration: underline;
}
body a:visited {
  color: #61aee2;
}

html, body, button, input, select, textarea, textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: Georgia, sans-serif;
  font-weight: 400;
}

#page {
  min-width: 300px;
}

#navigation ul.menu li {
  text-transform: none;
}
#navigation ul.menu li div, #navigation ul.menu li h1, #navigation ul.menu li h2, #navigation ul.menu li h3, #navigation ul.menu li h4, #navigation ul.menu li h5 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
}
#navigation ul.menu li a {
  color: #61aee2;
  text-decoration: none;
}
#navigation ul.menu li a:hover {
  color: #443C45;
  text-decoration: underline;
}
#navigation ul.menu li a:visited {
  color: #61aee2;
}
#navigation ul.menu li a {
  background-color: #eff2f1;
  padding: 7px 15px 6px 15px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  display: block;
}
#navigation ul.menu li a:hover, #navigation ul.menu li a.active {
  color: #ffffff;
  text-decoration: underline;
  background: #d1d3d2;
}
#navigation ul.menu li a.active, #navigation ul.menu li a:visited {
  text-decoration: none;
}
#navigation ul.menu ul {
  z-index: 100;
}
#navigation ul.menu ul:hover {
  display: block;
}
#navigation ul.menu ul li a:link, #navigation ul.menu ul li a:visited, #navigation ul.menu ul li a:hover {
  background: transparent;
  color: #61aee2;
}
#navigation ul.menu ul li a:hover {
  text-decoration: underline;
}

ul.primary {
  padding: 0;
  border-bottom: 1px solid #D9DBDB;
}
@media (max-width: 400px) {
  ul.primary {
    border-bottom: none;
  }
}
ul.primary li {
  border: none;
  margin: 0 5px 0 0;
  text-shadow: 0;
}
ul.primary li a:link, ul.primary li a:visited, ul.primary li a:hover {
  text-shadow: 0;
  padding: 5px 15px;
  border: 1px solid #CCCCCC;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
ul.primary li a {
  color: #333 !important;
}
ul.primary li a.active {
  background-color: #EEE;
  color: #61aee2 !important;
}

@media (max-width: 400px) {
  ul.primary li, ul.secondary li {
    float: none;
    clear: both;
    margin: 0;
  }
  ul.primary li a, ul.secondary li a {
    width: 88%;
  }
}
/***********
~STRUCTURE
***********/
h1 {
  font-size: 160%;
}

.wrapper.header {
  background-color: #d1d3d2;
}
.wrapper.footer {
  background-color: white;
}

.breadcrumb {
  margin: 20px 0;
}

/***********
~HEADER
***********/
.region-header {
  clear: none;
}

.wrapper.header #header {
  clear: both;
  padding: 25px 0;
  position: relative;
}
.wrapper.header #header #cm-user-menu {
  float: right;
  margin: 0 20px 0 0;
}
@media (max-width: 800px) {
  .wrapper.header #header #cm-user-menu {
    float: none;
    text-align: center;
    margin: 0;
  }
}
.wrapper.header #header #cm-user-menu ul {
  margin: 20px 0 0 0;
  padding: 0;
}
.wrapper.header #header #cm-user-menu ul li {
  display: inline;
  list-style-type: none;
  margin: 0 0 0 10px;
}
.wrapper.header #header #cm-user-menu ul li a {
  border: 1px solid #CCC;
  margin: 0 5px 0 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 15px;
  color: #333;
  font-size: 90%;
  background: #DDD;
}
.wrapper.header #header #cm-user-menu ul li a:hover {
  border-color: #999;
  background: #AAA;
  color: #FFF;
  text-decoration: none;
}

h1#site-name {
  font-size: 2em;
  line-height: .5em;
  margin: 70px 0 0 25px;
}
h1#site-name a:link, h1#site-name a:visited {
  color: #ffffff;
}

#block-search-form {
  background: #FFFFFF;
  padding: 0 0 0 10px;
  float: right;
  width: 200px;
  margin: 60px 0 0 0;
}
@media (max-width: 800px) {
  #block-search-form {
    clear: both;
    float: none;
    text-align: center;
    margin: 0 auto;
  }
}
#block-search-form input.form-text {
  border: none;
  border-right: 1px solid #CCCCCC;
  width: 150px;
}
#block-search-form input.form-text:focus {
  box-shadow: none;
  moz-box-shadow: none;
}
#block-search-form input.form-submit {
  text-indent: -9999px;
  background: white url(../images/search.png) no-repeat center center;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  filter: none;
  padding: 5px 15px;
  width: 40px;
  height: 28px;
  text-shadow: none;
  margin: 0;
}

@media (max-width: 800px) {
  .wrapper.header #header {
    text-align: center;
    padding: 0;
  }
  .wrapper.header #header #logo {
    float: none;
    clear: both;
    display: block;
    padding: 20px 0;
  }
  .wrapper.header #header #name-and-slogan {
    float: none;
  }
  .wrapper.header #header #name-and-slogan h1 {
    margin: 10px 0;
  }
}
/***********
~SIDEBARS
***********/
aside.sidebars {
  margin: 10px 0 0 0;
}
aside.sidebars .sidebar {
  padding-bottom: 20px;
}
aside.sidebars .sidebar h2 {
  background: #eff2f1;
  text-indent: 10px;
  margin: 0 0 10px 0;
  font-size: 110%;
}
@media (max-width: 1000px) {
  aside.sidebars .sidebar {
    padding-left: auto;
  }
}

/***********
~SLIDESHOW
***********/
.flexslider {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  margin: 0 0 50px 0;
  position: relative;
}

.flexslider li p {
  text-align: center;
  font-size: 110%;
  background: #DDDDDD;
  margin: 0;
  padding: 10px 0;
}

/***********
~FOOTER
***********/
.wrapper.footer #footer {
  margin-left: auto;
  margin-right: auto;
  color: #555555;
  font-size: 12px;
  padding: 30px 0;
  margin-top: 20px;
  border-top: 1px solid #DDD;
}

ul.social-footer {
  padding: 0;
  margin: 0;
}
ul.social-footer li {
  list-style-type: none;
  float: left;
  margin: 0 5px 0 0;
}
ul.social-footer li a {
  display: block;
  outline: none;
  text-decoration: none;
}
ul.social-footer li a i {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  color: #555555;
  font-size: 30px;
}
ul.social-footer li a i span {
  display: none;
}
ul.social-footer li a i:hover {
  color: #61aee2;
}

@media (max-width: 800px) {
  #footer {
    text-align: center;
  }

  ul.social-footer {
    margin-top: -10px;
  }
  ul.social-footer li {
    display: inline-block;
    float: none;
  }
}
/* HOME */
.front #main {
  margin: 0 auto;
}
