/**
 * @file
 * Form Styling
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
.form-item input {
  max-width: 99%;
  color: #333333;
}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: normal;
  color: #666666;
  font-size: 90%;
}
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 80%;
  font-style: italic;
  color: #777777;
}
.form-item .form-file {
  color: #666666;
  font-size: 90%;
}
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}
.form-item .form-text {
  min-height: 25px;
  line-height: 25px;
  border: 1px solid #CCCCCC;
}
.form-item .field-add-more-submit {
  text-shadow: none;
  color: white;
}

.form-text:focus, .form-text:hover, .form-text:active, .form-textarea:focus, .form-textarea:hover, .form-textarea:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-text:focus, .form-textarea:focus {
  border: 1px solid #61AEE2;
}

.form-submit, a.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #CCC;
  margin: 0 5px 0 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 6px 15px;
  color: #333;
  font-size: 90%;
  background: #DDD;
}
.form-submit:hover, a.button:hover, button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #999;
  background: #AAA;
  color: #FFF;
  text-decoration: none;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}

.ajax-progress .throbber {
  background-position: 0px -18px;
}

.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}
.container-inline .select2-container {
  display: inline-block;
  margin-bottom: 10px;
}
.container-inline .select2-display-none {
  display: none;
}

dd {
  margin: 10px 0 10px 30px;
}

.tips {
  /* Tips for Drupal's input formats */
}

a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

fieldset {
  margin-bottom: 15px;
  padding: 20px;
}
fieldset legend {
  float: left;
  background: #EEEEEE;
  width: 100%;
  margin-bottom: 10px;
}
fieldset legend .fieldset-legend {
  padding: 5px 10px;
  display: block;
}
fieldset .fieldset-wrapper {
  padding: 15px;
}
fieldset.filter-wrapper {
  padding: 0;
  font-size: 90%;
  background: #f9f9f9;
}
fieldset.filter-wrapper .fieldset-wrapper {
  padding: 5px;
  border-top: 1px dotted #C0C0C0;
}
fieldset.filter-wrapper .filter-help {
  padding: 0 20px 0 0;
}
fieldset.filter-wrapper .form-item {
  padding-top: 0;
  margin-top: 5px;
}

.ckeditor_links {
  font-size: 90%;
}

.vertical-tabs ul.vertical-tabs-list li a {
  text-decoration: none;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  text-decoration: none;
  outline: none;
  color: #61AEE2;
}
.vertical-tabs ul.vertical-tabs-list li a strong {
  font-weight: normal;
}
.vertical-tabs ul.vertical-tabs-list li a .summary {
  font-size: 90%;
  font-style: italic;
  color: #777777;
}

html.js fieldset.collapsed {
  border: 1px solid #CCCCCC;
  height: 2.15em;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
table {
  width: 100%;
  border: 1px solid #CCC;
}
table th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 5px 10px;
  background: #EEEEEE;
}
table tbody {
  border-top: 1px solid #ccc;
}
table td {
  padding: 10px;
  background: #f9f9f9;
}
table tr.even {
  background-color: #fff;
}
table table .item-list ul {
  margin: 0;
}

form input, form textarea {
  margin-bottom: 10px;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
td.menu-disabled {
  background: #ccc;
}
