/**
 * @file
 * Views Styling
 */
/****************
OUR CUSTOM MIXINS
*****************/
/***********
~VARIABLES
***********/
/***********
~BREAKPOINTS
***********/
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
.views-displays .secondary .open > a:hover {
  color: #333;
}
.views-displays .secondary .action-list li {
  margin: 0;
}
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.cm-row .column .views-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#content .views-row h2 {
  margin: 0 0 10px 0;
}
#content .views-row .field-name-field-image {
  float: left;
  max-width: 25%;
  margin: 5px 25px 0 0;
}
@media (max-width: 400px) {
  #content .views-row .field-name-field-image {
    width: 100%;
    clear: both;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
#content .views-row .field-name-body {
  padding-right: 20px;
}
#content.teaser {
  margin: 10px 0;
  padding: 2px 0 20px 0;
  border-bottom: 1px solid #EEEEEE;
}
#content.full .field-name-field-image {
  float: left;
  max-width: 100%;
  width: 100%;
  margin: 0 0 20px 0;
}
@media (max-width: 400px) {
  #content.full .field-name-field-image {
    width: 100%;
    clear: both;
    max-width: 100%;
    margin: 0 0 10px 0;
  }
}
#content.max-320 .field-name-field-image, #content .max-320 .field-name-field-image {
  max-width: 100%;
  width: 100%;
}
