/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
  margin-right: 20px;
  img {
    vertical-align: bottom;
  }
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;

  a:link,
  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
  .cm-row {
    float: left;
    .inside {
      h2 {
        margin: 0 0 10px 0;
      }
    }
    &.teaser {
      padding: 2px 0 20px 0;
      border-bottom: 1px solid #EEEEEE;
      .media {
        @include col(1.235/3);
        img {
          width: 100%;
          height: auto;
        }
        @include breakpoint ($breakpoint-520) {
          width: 100%;
          clear: both;
          max-width: 100%;
          margin: 0 0 10px 0;
        }
        @include breakpoint ($breakpoint-small-width) {
          img {
            display: none;
            visibility: hidden;
            height: 0;
          }
        }
      }
      .wrapper {
        @include col(1.765/3);
        @include breakpoint ($breakpoint-520) {
          width: 100%;
        }
      }
      .inside {
        margin: 0;
      }
    }
    &.max-340, .max-340 {
      .media {
        @include col();
        @include stack();
        margin-bottom: 10px;
      }
      .wrapper {
        @include col();
        @include stack();
        margin-bottom: 10px;
      }
    }
    &.max-680 .max-340.max-680 ,&.max-340 .max-340.max-680 {
      .media {
        @include col(1/3);
        margin-bottom: 0;
      }
      .wrapper {
        @include col(2/3);
        margin: 0;
      }
    }
    &.max-680.max-340 .max-340.max-680 ,&.max-340.max-340 .max-340.max-680 {
      .media {
        @include col();
        @include stack();
        margin-bottom: 10px;
      }
      .wrapper {
        @include col();
        @include stack();
        margin-bottom: 10px;
      }
    }
    .column {
      @include breakpoint ($breakpoint-med-small-width) {
        clear: both;
        width: 100%;
        margin: 0;
        .inside {
          margin: 0;
        }
      }
      .inside {
        @include breakpoint ($breakpoint-medium-width) {
          margin: 0;
        }
      }
    }
    .wrapper {
      .field-name-title {
        h2 {
          margin-bottom: 2px;
        }
      }
      .field-name-post-date {
        font-size: 13px;
        color: #aaa;
      }
      .field-name-body {
        color: #555;
        margin-top: 10px;
      }
    }
  }
  &.max-680 {
    .column {
      clear: both;
      width: 100%;
      margin: 0;
      .inside {
        margin: 0;
      }
      &.max-680 {
        width: 100%;
        max-width: 100%;
        float: none;
      }
    }
  }
  .view-mode-full {
    .field-name-field-image {
      margin: 20px 0;
    }
  }
  .node-full {
    .cm-row {
      .field-name-field-image {
        img {
          // width: 100%;
        }
      }
    }
  }
  .cm-col {
    &.grid-item {
      border: 0;
      @include col(1/3, $gutter: 2, $cycle: 3);

    }
  }
  &.max-680 {
    .cm-col {
      &.grid-item {
        border: 0;
        @include col(1/2, $gutter: 2, $cycle: 2);
      }
    }
  }
  &.max-340 {
    .cm-col {
      &.grid-item {
        border: 0;
        @include col();
        @include stack();
      }
    }
  }
}

.region-highlighted {
}
.page-schedule {
  #schedule {
    float: none;
    p {
      margin: 0;
    }
    a.prev, a.next {
      margin: 5px;
      text-align: center;
      span {
        height: auto;
      }
    }
  }
}

#content {
  .term-listing-heading {
    .field-name-field-channel-embed {
      clear: both;
      .channel-embeds {
        clear: both;
        @include box-sizing(border-box);
        .video {
          @include col(2022/3000, $gutter: 0);
          @include box-sizing(border-box);
        }
        .chat {
          @include col(978/3000, $gutter: 0);
          @include box-sizing(border-box);
        }
      }
    }
    .field-name-field-channel-logo {
      clear: both;
      padding-top: 20px;
    }
  }
  &.max-680 {
    .term-listing-heading {
      .field-name-field-channel-embed {
        .channel-embeds {
          .video {
            @include col();
            @include stack();
          }
          .chat {
            @include col();
            @include stack();
            .fluid-width-video-wrapper {
              padding-top: 55% !important;
              @include breakpoint ($breakpoint-520) {
                padding-top: 65% !important;
              }
              @include breakpoint ($breakpoint-small-width) {
                padding-top: 95% !important;
              }
            }
          }
        }
      }
    }
  }
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}
h1.title {
  margin-bottom: 10px;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0; /* LTR */
  }
}
span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;

  li { /* Each page number in the pager list */
    padding: 0 0.5em;
  }
}

/* Schedule table */

#content {
  .table-responsive.ng-scope {
    .schedule-controls {
      clear: both;
      margin: 10px 0;
      float: left;
      width: 100%;
      .col-xs-2 {
        padding: 0;
      }
      .col-xs-8  {
        position: relative;
        .icon {
          background: url(../images/cal.png) no-repeat center center;
          width: 30px;
          height: 30px;
          display: block;
          position: absolute;
          top: 2px;
          left: 20px;
        }
      }
    }
    .table {
      clear: both;
      margin: 0;
      thead {
        th {
          color: #B9DE0F;
          background: #f5f5f5;
          border-bottom-width: 1px;
        }
      }
      tbody {
        td {
          h5 {
            margin: 0;
          }
          &.time {
            font-size: 12px;
            background: #f8f8f8;
          }
          p.sc, p.empty {
            font-size: 14px;
          }
          &.ng-scope {
            cursor: help;
          }
        }
      }
    }
  }
}

/* Channel pages */

.term-listing-heading {
  .cm-row {
    margin: 0;
  }
  .field-name-field-channel-logo {
    float: left;
  }
  .taxonomy-term-description {
    float: left;
    padding: 20px;
    font-family: 'Roboto Condensed',sans-serif;
    color: #000;
  }
  .field-name-field-channel-where-to-watch {
    clear: both;
    margin: 20px 0;
    padding: 15px 20px 20px 20px;
    background: #f9f9f9;
    .field-label {
      clear: both;
    }
    .field-items {
      clear: both;
      width: 100%;
      table {
        margin: 0;
        width: 100%;
        td {
          float: left;
        }
      }
    }
  }
}
