/**
 * @file
 * Panels Styling
 * Will handle panel pages, panelizer etc
 * Do not put views code in here, unless they need to be overridden specifically as views-panes
 *
 */

@import "base";

.cm-row {
  .column {
    .panel-pane {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}

// Home page community channel buttons
%community-channel-button {
  font-size: 14px;
  list-style: none;
  border: 1px solid #EDEDED;
  border-bottom: 1px solid #CFCFCF;
  margin: 0 !important;
  @include background-image(linear-gradient(#FFFFFF, #F5F5F5));
}
%channel-info {
  height: 30px;
  padding: 0 !important;
}
%channel-icon {
  height: 30px;
  width: 30px;
  float: left;
  margin: 12px 6px;
}

.channel-about {
  background: #EBEBEB;
  clear: left;
  padding: 12px !important;
  font-size: 14px;
  line-height: 1.5;
}

.pane-mnn-show-watch-now {
  ul {
    padding-left: 0 !important;
    margin: 24px 0 !important;
    @include clearfix;
    li {
      @extend %community-channel-button;
      @include clearfix;
      a{
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 12px;
      }
    }

    #channel1 .channel-icon {
        @include channel-icons-sprite(ch1);
        @extend %channel-icon;
    }
    #channel2 .channel-icon {
        @include channel-icons-sprite(ch2);
        @extend %channel-icon;
    }
    #channel3 .channel-icon {
        @include channel-icons-sprite(ch3);
        @extend %channel-icon;
    }
    #channel4 .channel-icon {
        @include channel-icons-sprite(ch4);
        @extend %channel-icon;
    }

  }
}
