/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}

.view-content-listing {
  .view-content {
    clear: both;
  }
}

.views-field-created {
  color: $lightgrey;
  font-size: 14px;
}

/* Our Slideshow */

.view-cm-slideshow {
  .flexslider {
    background: none repeat scroll 0 0 #000;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0;
    padding-bottom: 0;
    position: relative;
    float: left;
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      li {
        .views-field-field-cm-slideshow-image {
          img {
            display: block;
          }
        }
        .views-field-nothing {
          background: #000;
          padding: 10px;
          width: 100%;
          @include box-sizing(border-box);
          .title {
            color: #fff;
            font-family: 'Roboto Condensed',sans-serif;
            font-size: 30px;
            line-height: 30px;
            padding: 5px 0;
          }
          .sub-title {
            color: #fff;
            a {
              color: #ffd;
            }
          }
        }
      }
    }
    .flex-control-nav {
      bottom: 0px;
      background: #000;
      text-align: right;
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 5;
      padding: 10px 5px;
      @include box-sizing(border-box);
      li {
        a {
          text-indent: -9999px;
          background: #ebebeb;
          width: 20px;
          height: 20px;
          color: #ebebeb;
          font-size: 0;
          &.flex-active {
            background: #757575;
          }
        }
      }
    }
  }
}

.view-content-listing.view-display-id-panel_pane_1 {
  .flexslider {
    background: none repeat scroll 0 0 #000;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 0 25px 0;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    background: #000;
    ul {
      margin: 0;
      padding: 0;
      li {
        .views-field-field-video .file-video,
        .views-field-field-image .field-content a {
          @include col(1/2, $gutter: 0);
          padding: 20px;
          @include box-sizing(border-box);
          @include breakpoint ($breakpoint-520) {
            @include col();
            @include stack();
          }
          img {
            display: block;
          }
        }
        .views-field-nothing {
          @include col(1/2, $gutter: 0);
          padding: 20px;
          @include box-sizing(border-box);
          @include breakpoint ($breakpoint-520) {
            @include col();
            @include stack();
            padding: 10px;
          }
          .title a {
            color: #fff;
            font-family: 'Roboto Condensed',sans-serif;
            font-size: 22px;
            line-height: 30px;
            padding: 5px 0;
          }
          .section {
            font-size: 12px;
            padding: 0 0 20px 0;
            @include breakpoint ($breakpoint-large-width) {
              padding-bottom: 10px;
            }
          }
          .body {
            @include breakpoint ($breakpoint-large-width) {
              font-size: 14px;
              padding-bottom: 30px;
            }
          }
        }
      }
    }
    .flex-control-nav {
      bottom: 5px;
      right: 5px;
      text-align: right;
      position: absolute;
      float: left;
      width: 100%;
      margin: 0;
      padding: 0;
      z-index: 5;
      padding: 10px 5px;
      @include box-sizing(border-box);
      @include breakpoint ($breakpoint-520) {
        bottom: 0;
        right: 0;
      }
      li {
        a {
          text-indent: -9999px;
          background: #ebebeb;
          width: 20px;
          height: 20px;
          color: #ebebeb;
          font-size: 0;
          &.flex-active {
            background: #757575;
          }
        }
      }
    }
  }
}
