
.cm-row {
  margin-bottom: 10px;
  clear: both;
  width: 100%;
}
.cm-row .column {
  float: left;
  width: 50%;
}
.cm-row .column.left .inside {
  padding-right: 10px;
}
.cm-row .column.right .inside {
  padding-left: 10px;
}
